* text=auto eol=lf

*.sh text eol=lf
*.bash text eol=lf
*.py text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
Makefile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.csv text eol=lf
sdkconfig text eol=lf
sdkconfig.defaults text eol=lf
Dockerfile text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.bin binary
*.elf binary
*.so binary
*.a binary
*.exe binary
*.png binary
*.jpg binary
*.zip binary
*.tar.gz binary
*.mid binary
